<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life.Church</title>
    <link rel="stylesheet" href="/stylesheets/marketing/marketing.css">
</head>
<body>
    <nav class="top-nav">
    <div class="nav-logo">
        <a href="/"><%= image_tag('life.church.svg', alt: 'Life.Chruch Logo') %></a>
    </div>
    <div class="nav-links">
        <a href="/training_resources">Trainings</a>
        <a href="/">Home</a>
    </div>
</nav>

    <header>
        <h1>Welcome to Life.Church</h1>
        <p>Find a home at life church and explore our training options.</p>
    </header>
    <section id="features">
        <h2>Free Church Resources</h2>
            <div class="feature">
                <h3>Mobile Training Resources</h3>
                <p>At Life.Church, we’re all about the “capital C” Church. When churches work together, we truly can reach the world for Christ. If you’re in ministry, we want to equip you. Access the entire library of Life.Church sermons, graphics, kids lessons, resources, and apps for free.</p>
                <img src="https://cms-images.life.church/pages/homepage/OpenNetwork_devices.png?auto=format&fm=webp&ixlib=react-9.8.1&w=700&dpr=1&q=75" alt="" />
            </div>
    </section>
    <footer class="footerWrapper">
        <button><a href="https://www.life.church/who-we-are/?utm_source=life.church&utm_medium=website&utm_content=MoreMenu-WhoWeAre&utm_campaign=Life.Church">Who We Are</a>
        </button>
        <button>
        <a href="https://www.life.church/worship/?utm_source=life.church&utm_medium=website&utm_content=MoreMenu-Worship&utm_campaign=Life.Church">Worship</a>
        </button>
        <button>
        <a href="https://www.life.church/locations/?utm_source=life.church&utm_medium=website&utm_content=MoreMenu-Worship&utm_campaign=Life.Church">Locations</a>
        </button>
        <button>
        <a href="https://www.life.church/media/?utm_source=life.church&utm_medium=website&utm_content=MoreMenu-Worship&utm_campaign=Life.Church">Media</a>
        </button>
        <button>
        <a href="https://www.life.church/giving/?utm_source=life.church&utm_medium=website&utm_content=MoreMenu-Worship&utm_campaign=Life.Church">Give</a>
        </button>
        <p>Contact us at <a class="footerEmailLink" href="mailto:christainmck00@gmail.com">christianmck00@gmail.com</a>.</p>
    </footer>
</body>
</html>
