.trainingListHeader{
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 10px;
  width: 300px;
  border-radius: 5px;
  background-color: #CECAC2;
  color: black;
  padding: 5px;
}

.card-header, .card-body, .card-footer {
  padding: 10px;
}
.details-link a{
  color: inherit;
}

.card-body {
  height: 150px; 
  overflow: auto; 
  text-overflow: ellipsis;
  white-space: wrap;
}

.duration-class{
  font-weight: bold;
}

.card-header > h3{
  margin-top: 0;
  text-decoration: none;
}

.footerWrapper{
  background-color: #333;
}

.footerWrapper button {
  background-color: transparent;
  border: none;
}

.footerWrapper a{
  color: white;
}

.card-footer {
  display: flex;
  justify-content: space-around; 
  padding: 10px;
}

.link-button, .update-button, .form-button-to button {
  padding: 8px 15px;
  text-decoration: none;
  color: white;
  background-color: #333; 
  border-radius: 5px;
  transition: background-color 0.3s;
}

.link-button:hover, .update-button:hover {
  background-color: #0056b3;
}

.form-button-to, .form-button-to button {
  all: initial;
  font-family: inherit;
}

.form-button-to button {
  padding: 8px 15px;
  all: initial;
  font-family: inherit; 
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

.form-button-to button:hover {
  background-color: #0056b3;
}



button.link-button, a.link-button {
  margin: 0;
  padding: 8px 15px;
}

a.link-button, button.link-button {
  cursor: pointer;
}