.trainingListHeader{
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 10px;
  width: 300px;
  border-radius: 5px;
  background-color: #CECAC2;
  color: black;
}

.card-header, .card-body, .card-footer {
  padding: 10px;
}

.card-header > h3 {
  margin-top: 0;
}

.card-footer {
  text-align: right;
  border-top: 1px solid #eee;
}

.footerWrapper{
  background-color: #333;
}

.footerWrapper button {
  background-color: transparent;
  border: none;
}

.footerWrapper a{
  color: white;
}